@model CheckInsListViewModel
<a class="btn btn-block btn-default"
   asp-action="AddCustomerFilt"
   asp-controller="CheckIn"
   asp-route-category="">Все комнаты</a>
@*<form asp-action="AddCustomerFilt" asp-controler="CheckIn">
    <label>Дата рождения:</label>
    <input class="btn btn-block btn-default form-control" name="bithdate" value="@Model.BithDate"/>
    <button type="submit" class="btn btn-success btn-sm pull-left">
        поиск
    </button>
</form>*@   