@model RoomViewModel
@{
    ViewBag.Title = "Edit Room";
}
<div class="modal-dialog">
    <h2>Редактировать Комнату</h2>
    <p>Пожалуста, уточните денные для коммнаты с номером @Model.Room.RoomID</p>

    <form asp-action="UpdateRoom" method="post">
        <input type="hidden" asp-for="Room.RoomID" />
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <div class="form-group">
            <label asp-for="Room.Category"></label>
            <div><span asp-validation-for="Room.Category" class="text-danger"></span></div>
            <select asp-for="Room.Category" class="form-control">
                <option selected disabled value="">Выберите категорию</option>
                <option value="Luxe">Luxe</option>
                <option value="Standart">Standart</option>
                <option value="Econom">Econom</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Room.Quantity">Количество мест:</label>
            <div><span asp-validation-for="Room.Quantity" class="text-danger"></span></div>
            <input asp-for="Room.Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Room.Price">Цена:</label>
            <div><span asp-validation-for="Room.Price" class="text-danger"></span></div>
            <input asp-for="Room.Price" class="form-control" />
        </div>
        <div class="form-group">
            <label>Коментарий:</label>
            <textarea asp-for="Room.Comments" class="form-control"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input asp-for="Room.State" /> Сдается
            </label>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Редактировать</button>
            <a href="@Model.ReturnUrl" class="btn btn-primary">Отмена</a>
        </div>
    </form>
</div>