@model IEnumerable<string>
<a class="navbar-brand"
   asp-action="Rooms"
   asp-controller="Room"
   asp-route-category="">Комнаты</a>
<a class="navbar-brand"
   asp-action="Supply"
   asp-controller="Supply"
   asp-route-category="">Услуги</a>
<a class="navbar-brand"
   asp-action="Customer"
   asp-controller="Customer"
   asp-route-category="">Клиены</a>
<a class="navbar-brand"
   asp-action="CheckIn"
   asp-controller="CheckIn"
   asp-route-category="">Регистрация</a>

