@model IEnumerable<string>
<a class="navbar-brand"
   asp-action="List"
   asp-controller="Room"
   asp-route-category="">Комнаты</a>
<a class="navbar-brand"
   asp-action="List"
   asp-controller="Service"
   asp-route-category="">Услуги</a>
<a class="navbar-brand"
   asp-action="List"
   asp-controller="Customer"
   asp-route-category="">Клиенты</a>
<a class="navbar-brand"
   asp-action="List"
   asp-controller="CheckIn"
   asp-route-category="">Брони</a>
