@*@model RoomViewModel*@
@{
    ViewBag.Title = "Edit Room";
}

@*<h2>EditRoom</h2>
<p>Please edit details for Room № @Model.Room.RoomID</p>

<form asp-action="UpdateRoom" method="post">
    <input type="hidden" asp-for="Room.RoomID" />
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <div class="form-group">
        <label asp-for="Room.Category"></label>
        <div><span asp-validation-for="Room.Category" class="text-danger"></span></div>
        <select asp-for="Room.Category" class="form-control">
            <option selected disabled value="">Выберите категорию</option>
            <option value="Luxe">Luxe</option>
            <option value="Standart">Standart</option>
            <option value="Econom">Econom</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Room.Quantity">Number of places:</label>
        <div><span asp-validation-for="Room.Quantity" class="text-danger"></span></div>
        <input asp-for="Room.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Room.Price">Price:</label>
        <div><span asp-validation-for="Room.Price" class="text-danger"></span></div>
        <input asp-for="Room.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label>comments:</label>
        <textarea asp-for="Room.Comments" class="form-control"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="Room.State" /> rent is rent
        </label>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="@Model.ReturnUrl" class="btn btn-primary">Cancel</a>
    </div>
</form>*@
