@model CheckInsListViewModel
<a class="btn btn-block btn-default"
   asp-action="List"
   asp-controller="CheckIn"
   asp-route-category="">Все клиенты</a>
<form asp-action="List" asp-controler="CheckIn">
    <label>Клиент:</label>
    <input class="btn btn-block btn-default form-control" asp-for="LastName" />
    <button type="submit" class="btn btn-default btn-sm pull-right">
        Поиск
    </button>
</form>   