@model CustomerViewModel
@{
    ViewBag.Title = "Добавить комнату";
}
<div class="modal-dialog">
    <h2>Добавить комнату</h2>
    <p>Пожалуйста, заполните данные!</p>
    @*<form asp-action="AddCustomer" method="post">
        <div class="form-group">
            <label>Номер комнаты:</label>
            <div><span asp-validation-for="Customer.CustomerID" class="text-danger"></span></div>
            <input asp-for="Customer.CustomerID" class="form-control" />
        </div>
        <div class="form-group">
            <label>Категория:</label>
            <div><span asp-validation-for="Customer.Category" class="text-danger"></span></div>
            <select asp-for="Customer.Category" class="form-control">
                <option selected disabled value="">Выберите категорию</option>
                <option value="Luxe">Luxe</option>
                <option value="Standart">Standart</option>
                <option value="Econom">Econom</option>
            </select>
        </div>
        <div class="form-group">
            <label>Количество мест:</label>
            <div><span asp-validation-for="Customer.Quantity" class="text-danger"></span></div>
            <input asp-for="Customer.Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <label>Цена:</label>
            <div><span asp-validation-for="Customer.Price" class="text-danger"></span></div>
            <input asp-for="Customer.Price" class="form-control" />
        </div>
        <div class="form-group">
            <label>Коментарии:</label>
            <input asp-for="Customer.Comments" class="form-control" />
        </div>
        <div class="checkbox">
            <label>
                <input asp-for="Customer.State" /> Сдается
            </label>
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Создать" asp-action="InsertCustomer" />
            <a class="btn btn-primary" type="submit" href="@Model.ReturnUrl">Отмена</a>
        </div>
    </form>*@
</div>