@model ServiceViewModel

<div class="modal-dialog">
    <div class="modal-header">
        <h4>Удалить услугу @Model.Service.ServiceName с кодом @Model.Service.ServiceID? </h4>
    </div>
    <div class="modal-body">
        <form asp-action="DeleteService" method="post">
            <input type="hidden" asp-for="Service.ServiceID">
            <div class="form-group">
                <label asp-for="Service.Category"></label>
                <input asp-for="Service.Category" class="form-control"  />
            </div>
            <div class="form-group">
                <label asp-for="Service.ServiceName">Название услуги:</label>
                <input asp-for="Service.ServiceName" class="form-control"  />
            </div>
            <div class="form-group">
                <label asp-for="Service.Price">Цена:</label>
                <input asp-for="Service.Price" class="form-control"  />
            </div>
            <div class="form-group">
                <label>Комментарий:</label>
                <textarea asp-for="Service.Comments" class="form-control" ></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="Service.State" disabled /> Оказывается
                </label>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Удалить</button>
                <a href="@Model.ReturnUrl" class="btn btn-primary">Отмена</a>
            </div>
        </form>
    </div>
</div>

